.app.portfolio.custom-table .table-responsive {
    max-height: 1000px;
    overflow-y: auto;
}

.app.portfolio .form-check {
    text-wrap: nowrap;
    margin: 0 2%;
}

.app.portfolio .flex-div .form-control {
    margin: 0;
    margin-left: 2%;
    padding-top: 0;
    padding-bottom: 0;
}