.app.portfolio {
    width: 100%;
}

.app.portfolio.custom-table .table-responsive {
    max-height: 500px;
    overflow-y: auto;
}

.app.portfolio .form-check {
    text-wrap: nowrap;
    margin: 0 2%;
}

.app.portfolio .flex-div .form-control {
    width: 49%;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}