services:
  postgres:
    image: pgvector/pgvector:pg17
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ../docker/prod/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - postgres:/var/lib/postgresql/data

  app:
    build:
      context: ../..
      dockerfile: docker/prod/Dockerfile
    depends_on:
      - postgres
      - mosquitto
    ports:
      - "443:443"
    environment:
      SOME_IP_ADDRESS: ${SOME_IP_ADDRESS}
      API_KEY: ${API_KEY}
      KEY_STORE_PASSWORD: ${KEY_STORE_PASSWORD}

      ADMIN_USERS: ${ADMIN_USERS}

      SPRING_JWT_SECRET: ${SPRING_JWT_SECRET}
      SPRING_PROFILE: ${SPRING_PROFILE}
      SPRING_USER: ${SPRING_USER}
      SPRING_PASSWORD: ${SPRING_PASSWORD}

      DB_NAME: ${DB_NAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_USERNAME: ${DB_USERNAME}

      MQTT_BROKER: ${MQTT_BROKER}
      MQTT_USER: ${MQTT_USER}
      MQTT_PASSWORD: ${MQTT_PASSWORD}
      
      GITHUB_KEY: ${GITHUB_KEY}
      AI_FOUNDRY_KEY: ${AI_FOUNDRY_KEY}
      AI_FOUNDRY_KEY_2: ${AI_FOUNDRY_KEY_2}
      AI_FOUNDRY_KEY_3: ${AI_FOUNDRY_KEY_3}
      AI_FOUNDRY_KEY_4: ${AI_FOUNDRY_KEY_4}
      AI_FOUNDRY_KEY_5: ${AI_FOUNDRY_KEY_5}
      GITHUB_URL: ${GITHUB_URL}

      FINNHUB_KEYS: ${FINNHUB_KEYS}
      FINNHUB_ENDPOINT: ${FINNHUB_ENDPOINT}

      TWELVE_DATA_KEY: ${TWELVE_DATA_KEY}
      TWELVE_DATA_ENDPOINT: ${TWELVE_DATA_ENDPOINT}
      YAHOO_NEWS_ENDPOINT: ${YAHOO_NEWS_ENDPOINT}
      YAHOO_MARKET_ENDPOINT: ${YAHOO_MARKET_ENDPOINT}

      SENTIMENT_URL: ${SENTIMENT_URL}

    restart: on-failure

  mosquitto:
    image: eclipse-mosquitto
    environment:
      - MQTT_USER=${MQTT_USER}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config:rw
      - ./mosquitto/data:/mosquitto/data:rw
    command: >
      /bin/sh -c "
        if [ ! -f /mosquitto/config/passwords ]; then
          touch /mosquitto/config/passwords
          mosquitto_passwd -b /mosquitto/config/passwords $MQTT_USER $MQTT_PASSWORD;
          chmod 600 /mosquitto/config/passwords;
        fi;
        exec /usr/sbin/mosquitto -c /mosquitto/config/mosquitto.conf
      "

volumes:
  postgres:
